# Dictionaries in Python

In [3]:
d = {'key1':'value','key2':123} #Dictionaries behave as key-value pair just like a hash-table

In [6]:
d['key1'] #Parse key to retreive the value

'value'

In [7]:
d['key2']

123

In [8]:
#Dictionaries can take any values as their items

In [10]:
d={'k1':[1,2,3]}

In [16]:
d['k1'][0:2]

[1, 2]

In [17]:
my_list=d['k1']

In [18]:
my_list[0]

1

In [19]:
#Dictionary nested inside another dictionary
d={'k1':{'innerkey':[1,2,3]}}

In [22]:
d['k1']['innerkey'][1]

2

In [24]:
#Booleans in python are just True or False
True

True

In [25]:
False

False

In [28]:
#Tuples & Sets
t=(1,2,3)
t[0]

1

In [29]:
my_list=[1,2,3]

In [31]:
my_list[0]='New'

In [32]:
my_list # Lists are mutable

['New', 2, 3]

In [33]:
t[0]='New' #Tuples are immutable i.e. they can't be reassigned

TypeError: 'tuple' object does not support item assignment

# Sets in Python

In [35]:
#Set is a collection of unique elements
{1,2,3}

{1, 2, 3}

In [36]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [37]:
set([1,1,1,1,2,2,2,5,5,5,6,6,6]) #To get the unique elements for you

{1, 2, 5, 6}

In [38]:
s= {1,2,3}

In [39]:
s.add(5)#Adding new element

In [40]:
s

{1, 2, 3, 5}

In [42]:
s.add(5)# again it is entered but set removed the duplicates
s

{1, 2, 3, 5}

# Comparison Operators:

In [44]:
#Allows you to compare two elements with each other
1 > 2

False

In [45]:
1 < 2

True

In [46]:
1 >= 2

False

In [50]:
1 <= 1

True

In [51]:
1 == 1

True

In [52]:
1 == 2

False

In [53]:
1 != 3

True

In [54]:
'hi' == 'bye'

False

In [55]:
'hi' != 'bye'

True

In [57]:
1 < 2 and 2 < 3

True

In [59]:
(1 < 2) and (2 > 3)

False

In [61]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [62]:
True and True

True

In [63]:
True and False

False

In [64]:
True or False

True

# Code Blocks like if, elif, else

In [65]:
if 1 < 2:
    print('Yep!')

Yep!

In [66]:
if True:
    print('Perform Code')

Perform Code

In [71]:
if 1 == 2:
    print('First')
elif 4 == 4:
    print('Second')
elif 3 ==3:
    print('Middle')
else:
    print('Last')

Second