# Map and Filter Expressions along with Lambda Expressions:

In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [3]:
seq = [1,2,3,4,5]

In [5]:
#Map is an in-built function that allows you to multiple with each number and cut the usage of for loop
list(map(times2,seq))#First argument should be a function

[2, 4, 6, 8, 10]

# Lambda Expression or Anonymous Function

In [6]:
def times2(var):return var*2

In [8]:
#lambda expression version
t = lambda var:var*2

In [9]:
t(6)

12

In [12]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

## Built in Filter Function:

In [15]:
#Filter out elements from a sequence
list(filter(lambda num: num%2 ==0, seq)) #Parse a function or lambda expression that returns out a boolean

[2, 4]

# Methods: Are calls that returns the object

In [16]:
s='hello my name is Sam'

In [17]:
s.lower()

'hello my name is sam'

In [18]:
s.upper()

'HELLO MY NAME IS SAM'

In [20]:
s.split() #By default by whitespace

['hello', 'my', 'name', 'is', 'Sam']

In [21]:
tweet = 'Go Sports! #Sports'

In [24]:
tweet.split('#')[1] #If we just wanna grab the hash-tags rather than tweets

'Sports'

In [26]:
d = {'k1':1, 'k2':2}

In [27]:
d

{'k1': 1, 'k2': 2}

In [28]:
d.keys()

dict_keys(['k1', 'k2'])

In [29]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [32]:
d.values()

dict_values([1, 2])

In [37]:
lst = [1,2,3]

In [38]:
lst.pop() #Pops or removes the last value in the list

3

In [39]:
lst

[1, 2]

In [45]:
lst=[1,2,3,4]

In [41]:
item = lst.pop()

In [42]:
item

4

In [46]:
first= lst.pop(0)

In [47]:
lst

[2, 3, 4]

In [48]:
lst.append('new')

In [49]:
lst

[2, 3, 4, 'new']

# In operator

In [50]:
'x' in [1,2,3]

False

In [51]:
'x' in ['x','y','z']

True

# Tuple Unpacking

In [55]:
x = [(1,2),(3,4),(5,6)]

In [57]:
x[0][1]

2

In [63]:
#Tuple Unpacking example:
for a,b in x: #this is called tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6